<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.jwt.mapper.RealmUserMapper">

    <resultMap id="realmUserResult" type="com.shiro.jwt.entity.RealmUser">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="perms" property="perms"/>
    </resultMap>

    <select id="selectUserByUsername" parameterType="java.lang.String" resultType="RealmUser">
        select * from realm_user where username = #{username}
    </select>

</mapper>